<!--
Celina Wright
301380112
ckwright@sfu.ca
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Game Not Found</title>
</head>
<body>
    <p>
        <h1>Uh Oh!</h1>
        <br>
        <h1>Oh No!</h1>
        <br>
        <h1>That's No Good...</h1>
        <br>
        <h1>Whoooops!</h1>
    </p>
    <br>
    <hr>
    <br>
    <p>
        <h3>Game was not found...you should head back to the welcome page!</h3>
        <br>
        <button><a href="/welcome">Back to Welcome Page</a></button>
    </p>
</body>
</html>